# config/localhost.neon - Lokální vývojové prostředí
parameters:
	production: false
	
database:
	dsn: 'mysql:host=127.0.0.1;dbname=fakturacni_system'
	user: 'root'
	password: '%env.DB_PASSWORD_LOCAL%'
	options:
		lazy: true
		charset: utf8mb4

session:
	expiration: 20 minutes
	autoStart: true
	name: fakturacni_system_session
	cookieHttponly: true
	cookieSamesite: Strict

tracy:
	email: info@allimedia.cz
	strictMode: false
	showBar: true # Zobrazí Tracy bar pro development

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	catchExceptions: false # Zobrazí detailní chyby pro development
	
latte:
	strictTypes: yes
	strictParsing: yes

services:
	security.headers:
		factory: App\Security\SecurityHeaders
		setup:
			- apply(@Nette\Http\Response)