services:
	router: App\Core\RouterFactory::createRouter
	- App\Model\ClientsManager
	- App\Model\InvoicesManager
	- App\Model\CompanyManager
	- App\Model\QrPaymentService
	- App\Security\SecurityLogger
	- App\Model\AresService
	- App\Model\ModuleManager
	- App\Model\EmailService
	- App\Model\TenantManager
	authenticator: App\Model\UserManager

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service