# config/local.neon - Produkční konfigurace pro qrdoklad.cz
parameters:
	production: true
	
database:
	dsn: 'mysql:host=localhost;dbname=c4devqrdoklad'
	user: 'c4alpho'
	password: '%env.DB_PASSWORD%'
	options:
		lazy: true
		charset: utf8mb4

session:
	expiration: 14 days
	autoStart: true
	name: qrdoklad_session
	cookieHttponly: true
	cookieSecure: true # HTTPS je povinné v produkci
	cookieSamesite: Strict

tracy:
	email: info@allimedia.cz
	strictMode: true
	showBar: false # Skryje Tracy bar v produkci

application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	catchExceptions: true
	
latte:
	strictTypes: yes
	strictParsing: yes

services:
	security.headers:
		factory: App\Security\SecurityHeaders
		setup:
			- apply(@Nette\Http\Response)